@model MVC_AppleLaLa.Models.ForgotPasswordViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "忘記密碼?";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section topCSS{
    <link href="~/Assets/css/Login_Register.css" rel="stylesheet" />
}

<div class="container mt-5">
    <div class="row flex-column align-content-center my-1">
        <div class="col-10 col-md-6 col-lg-4 site-logo mx-auto my-3">
            <a href="/Home/Index" class="link-logo">
                <img src="https://drive.google.com/uc?export=view&id=15DMdZwn6So4x_RuPf8HaDNvJ-75JGjMH" alt="AppleLaLa"
                     class="applelalalogo">
            </a>
        </div>
    </div>
    <div class="row flex-column align-content-center">
        <div class="col-10 col-md-6 col-lg-4 login_top w-100 p-2 border_all">
            <h3>@ViewBag.Title</h3>
            <h5>請輸入您的電子郵件，以接收密碼。</h5>
        </div>
        <div class="col-10 col-md-6 col-lg-4 mx-auto p-0 border_all border-top-0 login_content">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "formCaptcha", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="login_content my-2">
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        <div class="col-md-12 px-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "電子郵件" })
                        </div>
                    </div>
                    <div class="form-group px-3 col-md-12 d-flex">
                        @Html.Captcha("", "", 4, "必填", true)
                    </div>
                    <p class="text-danger px-3">@ViewBag.ErrorMessage</p>
                    <div class="form-group">
                        <div class="col-md-12 px-3 my-3">
                            <input type="submit" class="login_btn btn w-100" value="提交" />
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
@section endJS{
    <script src="~/Assets/js/captcha.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}