@model MVC_AppleLaLa.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "重設密碼";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section topCSS{
    <link href="~/Assets/css/Login_Register.css" rel="stylesheet" />
}

<div class="container mt-5">
    <div class="row flex-column align-content-center my-1">
        <div class="col-10 col-md-6 col-lg-4 site-logo mx-auto my-3">
            <a href="/Home/Index" class="link-logo">
                <img src="https://drive.google.com/uc?export=view&id=15DMdZwn6So4x_RuPf8HaDNvJ-75JGjMH" alt="AppleLaLa"
                     class="applelalalogo">
            </a>
        </div>
    </div>
    <div class="row flex-column align-content-center">
        <div class="col-10 col-md-6 col-lg-4 login_top w-100 p-2 border_all">
            <h3>重設密碼</h3>
            <h5>設定新的密碼</h5>
        </div>
        <div class="col-10 col-md-6 col-lg-4 mx-auto p-0 border_all border-top-0 login_content">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="login_content my-2">
                    @Html.ValidationSummary("", new { @class = "text-danger px-3" })
                    @*@Html.HiddenFor(model => model.Code)*@
                    <div class="form-group">
                        <div class="col-md-12 px-3">
                            @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "電子郵件" })
                        </div>
                    </div>
                    <div class="form-row px-3">
                        <div class="form-group col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control w-40 mr-1", @placeholder = "新會員密碼" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "確認新密碼" })
                        </div>
                    </div>
                    <div class="form-group px-3 my-3">
                        <input type="submit" value="變更密碼" class="login_btn btn w-100" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
