@model IEnumerable<MVCDataLibrary.DB_Model.Designer_service>

@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Assets/css/tables.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.Service_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_details.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_types.Type_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Designer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Service.Service_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Service_details.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Service_types.Type_name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

</table>
