@model MVCDataLibrary.DB_Model.Service_details

@{
    ViewBag.Title = "Create";
}

@section topCSS{
    <link href="~/Assets/css/tables.css" rel="stylesheet" />
}

<h2>新增服務細項</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">

                    <img class="card-img show_img" src="#" alt="" />

                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type_id, "服務編號", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Type_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Type_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Work_duration, "工作時間", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Work_duration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Work_duration, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, "價格", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Discount_price, "折扣價", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Discount_price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Discount_price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "描述", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Warranty_period, "保固期", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Warranty_period, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Warranty_period, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Unit, "單位", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="upload">
                            <label class="control-label col-md-2" for="upload">選擇上傳圖檔</label>
                            <div class="col-md-10">
                                <input id="upload" type="file" accept="image/*" v-on:change="showFile">
                                <!-- 上傳按鈕 -->
                                <button class="btn upload_btn mt-1" type="button" v-on:click="submit">上傳</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="新增" class="btn create_btn" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section endJS{
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        const id = '21a0ed102aa145f'; // 填入 App 的 Client ID
        const token = '9acfbce0e72f307b007600627630c1eb3618d545'; // 填入 token
        const album = 'LtQupwK';

        const upload = new Vue({
            el: '#upload',
            data: {
                album: album, // 若要指定傳到某個相簿，就填入相簿的 ID
                file: null, // 準備拿 input type="file" 的值
                fs: {
                    name: '', // input的圖檔名稱
                    thumbnail: null, // input的圖片縮圖
                    size: null // input的圖片大小
                },
            },
            methods: {
                showFile(e) {
                    this.file = e.target.files[0]; // input type="file" 的值
                    this.fs.name = this.file.name; // input的圖檔名稱
                    this.fs.size = Math.floor(this.file.size * 0.001) + 'KB'; // input的圖片大小
                    this.fs.thumbnail = window.URL.createObjectURL(this.file); // input的圖片縮圖
                    this.title = this.fs.name; // 預設 input 的圖檔名稱為圖片上傳時的圖片標題
                },
                submit() {
                    let settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        @*url:'@Url.Action("Upload", "Banners")',*@
                        url: 'https://api.imgur.com/3/image/',
                        headers: {
                            Authorization: 'Bearer ' + token
                            // Authorization: "Client-ID " + id
                        },
                        mimeType: 'multipart/form-data'
                    };
                    //api要的格式
                    let form = new FormData();
                    form.append('image', this.file);
                    form.append('title', this.title);
                    form.append('description', this.des);
                    form.append('album', album); // 有要指定的相簿就加這行
                    settings.data = form;

                    $.ajax(settings).done(function (res) {
                        var imgdata = JSON.parse(res);
                        var link = imgdata.data.link
                        ChangeImg(link);
                        /*console.log(ooxx);*/ // 可以看見上傳成功後回的值
                        alert('上傳完成，稍待一會兒就可以在底部的列表上看見了。')
                    });
                }
            }
        });

        function ChangeImg(value) {
            $('.show_img').attr('src', value);
            $('#Banner_photo_url').attr('value', value)
        }

    </script>

}
