@model MVCDataLibrary.DB_Model.Designer

@{
    ViewBag.Title = "Edit";
}

@section topCSS{
    <link href="~/Assets/css/tables.css" rel="stylesheet" />
}

<h2>修改設計師資料</h2>

<div class="row">
    <div class="col-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal horizontal mx-auto">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Designer_id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Account, "帳戶", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nickname, "暱稱", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, "生日", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Birthday, "{0:yyyy/MM/dd}", new { @class = "form-control w-40 mr-1 calendar", @readonly = "value" })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, "地址", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mobile, "行動電話", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, "性別", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Hire_day, "招聘日", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Hire_day, "{0:yyyy/MM/dd}", new { @class = "form-control w-40 mr-1 calendar", @readonly = "value" })
                        @Html.ValidationMessageFor(model => model.Hire_day, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "描述", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Photo_rul, "相片連結", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Photo_rul, new { htmlAttributes = new { @class = "form-control", @readonly = "value" } })
                        @Html.ValidationMessageFor(model => model.Photo_rul, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="儲存" class="btn save_btn" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="upload" class="col-12 col-md-6">
        <hr />
        <div class="col-md-6">
            <img src="@Model.Photo_rul" class="card-img show_img" alt="applelala">
        </div>
        <div id="upload">
            <label for="upload">選擇上傳圖檔</label>
            <input id="upload" type="file" accept="image/*" v-on:change="showFile">
            <!-- 上傳按鈕 -->
            <button class="btn upload_btn mt-1" type="button" v-on:click="submit">上傳</button>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("回到列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section endJS{
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        const id = '21a0ed102aa145f'; // 填入 App 的 Client ID
        const token = '9acfbce0e72f307b007600627630c1eb3618d545'; // 填入 token
        const album = 'KfBrZiU';

        const upload = new Vue({
            el: '#upload',
            data: {
                album: album, // 若要指定傳到某個相簿，就填入相簿的 ID
                file: null, // 準備拿 input type="file" 的值
                fs: {
                    name: '', // input的圖檔名稱
                    thumbnail: null, // input的圖片縮圖
                    size: null // input的圖片大小
                },
            },
            methods: {
                showFile(e) {
                    this.file = e.target.files[0]; // input type="file" 的值
                    this.fs.name = this.file.name; // input的圖檔名稱
                    this.fs.size = Math.floor(this.file.size * 0.001) + 'KB'; // input的圖片大小
                    this.fs.thumbnail = window.URL.createObjectURL(this.file); // input的圖片縮圖
                    this.title = this.fs.name; // 預設 input 的圖檔名稱為圖片上傳時的圖片標題
                },
                submit() {
                    let settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: 'https://api.imgur.com/3/image/',
                        headers: {
                            Authorization: 'Bearer ' + token
                            // Authorization: "Client-ID " + id
                        },
                        mimeType: 'multipart/form-data'
                    };

                    //api要的格式
                    let form = new FormData();
                    form.append('image', this.file);
                    form.append('title', this.title);
                    form.append('description', this.des);
                    form.append('album', album); // 有要指定的相簿就加這行
                    settings.data = form;

                    $.ajax(settings).done(function (res) {
                        var imgdata = JSON.parse(res);
                        var link = imgdata.data.link
                        ChangeImg(link);
                        alert('上傳完成，稍待一會兒就可以在底部的列表上看見了。')
                    });
                }
            }
        });

        function ChangeImg(value) {
            $('.show_img').attr('src', value);
            $('#Photo_rul').attr('value',value)
        }

    </script>

}